body{
    background-color: #f8f9fa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #212529;
    text-align: left;
  }
  
  .sidenav {
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 160px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      line-height: 30px;
      background-color: #f7f7ff /* Black */
    }
    
    /* The navigation menu links */
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 13px;
      font-weight: 450;
      color: black;
      display: block;
      
    }
  
    #navhead{
        color: gray;
        padding: 6px 0px 6px 16px;
        padding-left: 5%;
        font-size: 13px;
    }

    
element.style {
    position: relative;
    vertical-align: top;
    background-color: transparent;
}
.no-border {
    border-color: transparent!important;
    border-width: 0!important;
}
.no-shadow {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.no-bg {
    background: 0 0!important;
}
  
    #dashboard{
      font-size: 14px;
      font-weight:600;
      color: #2176ff;
    }
  
    #basiknav{
      padding: 6px 2px 6px 16px;
      font-weight: bold; 
      color: #3772ff; 
      font-size: 18px;
      padding-bottom: 15px;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      font-weight: bold; 
      color: #3772ff; 
      font-size: 14px; 
    }

    #dashboard:hover{
        font-weight: bold; 
        color: #3772ff; 
        font-size: 14px;
      }
  
    .container{
      margin-left: 18%;
      margin-top: 2%;
      display: block;
      background-color: #f8f9fa;
      padding-top: 0%;
      padding-bottom: 0%;
      padding-left: 0%;
      padding-right: 0%;
      border-style: solid;
      border-color: #f8f9fa;
    }

    #search{
        background-color:#f8f9fa ;
        margin-left: 0%;
    }

    #section{
        border-style: solid;
        border-color: #f8f9fa;
        border-width: 8px;
        background-color: white;
        padding: 2%;
        border-radius: 5%;

        
    }

    small{}

    img {
        display: block;
        max-width: 100%;
        height: 50px;
      }
      .progress-bar-pink {
        background-color: #f72585 !important;
  }

  .progress-bar-yellow {
    background: #f4c414 !important;
}

.text-md {
  font-size: 1.25rem;
}

*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}

#graphs{
  max-width: 55%;
  max-height: 55%;
}

.btn-group-toggle {
  display: inline-flex;
  padding: .25rem .125rem;
  border: 1px solid rgba(160,175,185,.15);
  border-radius: .25rem;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.page-container{
  margin-left: 20%;
}

.price{
  max-width: 40%;
  max-height: 40%
}

.btn-top{
  background-color:#f8f9fa; ;
}
